.connect-btn {
    padding: 15px 25px;
    height: 60px;
    background: #eee;
    border: 0px;
    border-radius: 2px;
    font-size: x-large;
    box-shadow: 0px 0px 10px #444;
}

.connect-switch {
    height: 350px;
    width: 70vw;
    max-width: 600px;
    position: absolute;
    top: 20vh;
    right: 15vw;
    z-index: 1;
    padding: 10px;
    background: #eee;
    box-shadow: 0px 0px 8px #777;
}

.connect-switch-btn {
    display: block;
    width: 300px;
    height: 100px;
}